@import "./colors.scss";
@import "./fontSize.scss";
@import "./spacing.scss";

$maxWidth: 800px;
$minWidth: 500px;

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin fixed-whole-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blackLight;
  transition: opacity 0.3s ease;
}

@mixin input-icon-position {
  position: absolute;
  top: 12px;
  right: 10px;
}
